<ion-header>
  <ion-toolbar>
    <ion-title>STATE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="state" (ngSubmit)="submitForm()">
    <ion-list>

      <ion-item [class.invalid]="isFieldInvalid('state')">
        <!-- <ion-label position="floating">State Name</ion-label> -->
        <ion-input label="Name" labelPlacement="floating" formControlName="state"></ion-input>
      </ion-item>
      <p class="error" *ngIf="isFieldInvalid('state')">State Name is required (max 50 characters).</p>

      <div class="center-button">
        <ion-button class="custom-button">
          SUBMIT
        </ion-button>
        </div>

  </ion-list>
  </form>
</ion-content>
