ion-toolbar{
        --background: rgb(136, 172, 140);

      }

h2{
    background: radial-gradient(circle, #ffffff 0%, #eef2f3 100%);
    padding: 3%;
  }

.custom-badge {
    --background: rgb(150, 235, 85);
    --color: white;  /* Text color inside the badge */
        // --font-weight: bold;
    }

      ion-button {
        --color: rgb(245, 240, 230);
      }

.filters {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
      }

      ion-item {
        width: 100%;
      }

      ion-card {
        background: radial-gradient(circle, #ffffff 0%, #eef2f3 100%);
        text-align: center;
        transition: 0.3s;
      }

      ion-card.selected {
        background: #007bff;
        color: white;
      }


      // ion-fab {
      //   margin: 15px;
      // }

      // ion-fab-button {
      //   --background: rgb(153, 101, 58);
      //   // --color: white;
      //   font-size: 20px;
      // }
      .fixed-button {
        position: fixed;
        bottom: 20px; /* Distance from the bottom */
        left: 20px; /* Distance from the left */
        z-index: 1000; /* Ensures it's above other content */
        transition: transform 0.3s ease-in-out;
      }

      .fixed-button:hover {
        transform: rotate(360deg);
      }