<ion-header>
  <ion-toolbar>
    <ion-title>Driver Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="driver" (ngSubmit)="submitForm()">
    <ion-list>
      <ion-item [class.invalid]="isFieldInvalid('driver_name')">
        <ion-label position="floating">Driver Name</ion-label>
        <ion-input formControlName="driver_name"></ion-input>
      </ion-item>
      <p class="error" *ngIf="isFieldInvalid('driver_name')">Driver Name is required (max 255 characters).</p>

      <ion-item [class.invalid]="isFieldInvalid('driver_age')">
        <ion-label position="floating">Driver Age</ion-label>
        <ion-input type="number" formControlName="driver_age"></ion-input>
      </ion-item>
      <p class="error" *ngIf="isFieldInvalid('driver_age')">Age must be at least 18 and a valid number.</p>

      <ion-item [class.invalid]="isFieldInvalid('driver_license')">
        <ion-label position="floating">Driver License</ion-label>
        <ion-input formControlName="driver_license"></ion-input>
      </ion-item>
      <p class="error" *ngIf="isFieldInvalid('driver_license')">License is required (max 50 characters).</p>

      <ion-item [class.invalid]="isFieldInvalid('driver_number')">
        <ion-label position="floating">Driver Number</ion-label>
        <ion-input type="tel" formControlName="driver_number"></ion-input>
      </ion-item>
      <p class="error" *ngIf="isFieldInvalid('driver_number')">Enter a valid phone number (max 15 digits).</p>

      <ion-item [class.invalid]="isFieldInvalid('driver_address')">
        <ion-label position="floating">Driver Address</ion-label>
        <ion-textarea formControlName="driver_address"></ion-textarea>
      </ion-item>
      <p class="error" *ngIf="isFieldInvalid('driver_address')">Address is required (max 255 characters).</p>

      <ion-item [class.invalid]="isFieldInvalid('driver_status')">
        <ion-label>Driver Status</ion-label>
        <ion-select formControlName="driver_status">
          <ion-select-option value="Active">Active</ion-select-option>
          <ion-select-option value="Inactive">Inactive</ion-select-option>
        </ion-select>
      </ion-item>
      <p class="error" *ngIf="isFieldInvalid('driver_status')">Status is required.</p>

      <ion-item [class.invalid]="isFieldInvalid('date_of_joining')">
        <ion-label position="floating">Date of Joining</ion-label>
        <ion-input type="date" formControlName="date_of_joining"></ion-input>
      </ion-item>
      <p class="error" *ngIf="isFieldInvalid('date_of_joining')">Date of Joining is required.</p>

      <ion-item [class.invalid]="isFieldInvalid('experience_years')">
        <ion-label position="floating">Experience Years</ion-label>
        <ion-input type="number" formControlName="experience_years"></ion-input>
      </ion-item>
      <p class="error" *ngIf="isFieldInvalid('experience_years')">Experience must be a valid number (min 0).</p>

      <ion-item [class.invalid]="isFieldInvalid('vehicle_id')">
        <ion-label position="floating">Vehicle ID</ion-label>
        <ion-input type="text" formControlName="vehicle_id"></ion-input>
      </ion-item>
      <p class="error" *ngIf="isFieldInvalid('vehicle_id')">Vehicle ID is required.</p>

      <ion-item [class.invalid]="isFieldInvalid('license_expiry_date')">
        <ion-label position="floating">License Expiry Date</ion-label>
        <ion-input type="date" formControlName="license_expiry_date"></ion-input>
      </ion-item>
      <p class="error" *ngIf="isFieldInvalid('license_expiry_date')">License Expiry Date is required.</p>

      <ion-item [class.invalid]="isFieldInvalid('emergency_contact')">
        <ion-label position="floating">Emergency Contact</ion-label>
        <ion-input type="tel" formControlName="emergency_contact"></ion-input>
      </ion-item>
      <p class="error" *ngIf="isFieldInvalid('emergency_contact')">Enter a valid emergency contact (max 15 digits).</p>

      <ion-item [class.invalid]="isFieldInvalid('assigned_route_id')">
        <ion-label position="floating">Assigned Route ID</ion-label>
        <ion-input type="text" formControlName="assigned_route_id"></ion-input>
      </ion-item>
      <p class="error" *ngIf="isFieldInvalid('assigned_route_id')">Assigned Route ID is required.</p>

      <ion-item [class.invalid]="isFieldInvalid('d_o_b')">
        <ion-label position="floating">Date of Birth</ion-label>
        <ion-input type="date" formControlName="d_o_b"></ion-input>
      </ion-item>
      <p class="error" *ngIf="isFieldInvalid('d_o_b')">Date of Birth is required.</p>

      <ion-item [class.invalid]="isFieldInvalid('violation')">
        <ion-label>Violation</ion-label>
        <ion-textarea formControlName="violation"></ion-textarea>
      </ion-item>
      <p class="error" *ngIf="isFieldInvalid('violation')">Violation details are required.</p>
    </ion-list>

    <ion-button expand="full" type="submit" [disabled]="driver.invalid">
      Submit
    </ion-button>

  </form>
</ion-content>

<style>
  .error {
    color: red;
    font-size: 14px;
    margin-left: 16px;
  }

  .invalid {
    border: 1px solid red;
    border-radius: 5px;
  }
</style>
