// ion-toolbar {
//   --background: rgb(136, 172, 140);
//   color: rgb(245, 240, 230);
// }

// ion-content {
//   --padding-top: 20px;

//   form {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     width: 100%;

//     ion-list {
//       width: 90%;
//       max-width: 500px;
//     }
//   }

//   ion-item {
//     margin-bottom: 10px;
//     --inner-border-width: 0px;
//   }

//   ion-label {
//     padding-left: 5px;
//     color: rgb(115, 112, 112);
//   }

//   ion-input,
//   ion-textarea,
//   ion-select {
//     border: 1px solid rgb(136, 172, 140);
//     border-radius: 13px;
//     transition: border-color 0.3s ease;
//     min-height: 50px;
//     --padding-start: 10px;
//     --padding-end: 10px;
//     --padding-top: 10px;
//     --padding-bottom: 10px;
//     font-size: 16px;
//   }

//   ion-select {
//     padding-left: 10px; /* Ensures dropdown text aligns well */
//   }

//   ion-button {
//     margin-top: 15px;
//     --border-radius: 8px;
//     --box-shadow: none;
//     --background: rgb(136, 172, 140);
//   }

//   .error {
//     color: red;
//     font-size: 14px;
//     margin-left: 16px;
//   }

//   .invalid ion-input,
//   .invalid ion-textarea,
//   .invalid ion-select {
//     border: 1px solid red;
//     border-radius: 13px;
//   }
// }
