<ion-header>
  <ion-toolbar>
    <ion-title style="color: rgb(144, 141, 135); font-size: 14px ;">ORDERS</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <!-- Filter Options -->
    <div class="filter-dropdown">
      <ion-select placeholder="Select Filter" (ionChange)="applyFilter($event.detail.value)">
        <ion-select-option *ngFor="let filter of filterOptions" [value]="filter.value">
          {{ filter.name }}
        </ion-select-option>
      </ion-select>
    </div>

    <!-- Filtered Orders -->
    <ion-row class="card-layout">
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let order of filteredOrders">
        <div class="order-card">
          <h3 [innerHTML]="order.items"></h3>
          <p><strong>Total: Rs. {{ order.total }}</strong></p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>