<ion-header>
  <ion-toolbar>
    <ion-title style="color: rgb(144, 141, 135); font-size: 14px ;">FOR SALE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="stacked">Item</ion-label>
        <ion-input placeholder="Search items..." [(ngModel)]="order.item"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Spinach Quality</ion-label>
        <ion-select [(ngModel)]="order.quality" placeholder="Select Quality">
          <ion-select-option *ngFor="let quality of qualities" [value]="quality">
            {{ quality }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Wastage</ion-label>
        <ion-select [(ngModel)]="order.wastage" placeholder="Select Wastage">
          <ion-select-option *ngFor="let wastage of wastages" [value]="wastage">
            {{ wastage }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Quantity</ion-label>
        <ion-input type="number" placeholder="Enter quantity" [(ngModel)]="order.quantity"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Price</ion-label>
        <ion-input type="number" placeholder="Enter price" [(ngModel)]="order.price"></ion-input>
      </ion-item>

      <ion-item>
        <!-- <ion-label position="stacked">Date/Time</ion-label> -->
        <ion-input label="Date of Joining" labelPlacement="stacked" type="datetime-local"></ion-input>
        <!-- <ion-datetime display-format="MM/DD/YYYY HH:mm" [(ngModel)]="order.dateTime"></ion-datetime> -->
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Location - Pick Up</ion-label>
        <ion-input placeholder="Enter pick-up location" [(ngModel)]="order.location"></ion-input>
      </ion-item>

      <!-- Create Orders Button -->
      <div class="center-button">
        <ion-button class="custom-button" (click)="createOrder()">
          Create Order
        </ion-button>
      </div>


    </ion-col>
  </ion-row>
</ion-grid>