ion-toolbar {
  --background: radial-gradient(circle, #ffffff 0%, #eef2f3 100%);
  font-family: 'Georgia', 'Times', serif;
}

.center-button {
  display: flex;
  justify-content: center;  /* Horizontally centers the button */
  align-items: center;      /* Vertically centers the button */
  height: 30vh;            /* Makes the container take some viewport height */
}

.custom-button {
  font-family: 'Georgia', 'Times', serif;
  --background: rgb(136, 172, 140);
  --color: white;
  --border-radius: 8px;  /* round the button corners */
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 100px;
}