<ion-header>
  <ion-toolbar>
    <ion-title>MANDI</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="mandi" (ngSubmit)="submitForm()">
    <ion-list>
      <ion-item [class.invalid]="isFieldInvalid('mandi_location')">
        <ion-label position="floating">Mandi Location</ion-label>
        <ion-input formControlName="mandi_location"></ion-input>
      </ion-item>
      <p class="error" *ngIf="isFieldInvalid('mandi_location')">Mandi Location is required (max 255 characters).</p>

      <ion-item [class.invalid]="isFieldInvalid('mandi_number')">
        <ion-label position="floating">Mandi Number</ion-label>
        <ion-input formControlName="mandi_number"></ion-input>
      </ion-item>
      <p class="error" *ngIf="isFieldInvalid('mandi_number')">Mandi Number is required (max 50 characters).</p>

      <ion-item [class.invalid]="isFieldInvalid('mandi_incharge')">
        <ion-label position="floating">Mandi Incharge</ion-label>
        <ion-input formControlName="mandi_incharge"></ion-input>
      </ion-item>
      <p class="error" *ngIf="isFieldInvalid('mandi_incharge')">Mandi Incharge is required (max 255 characters).</p>

      <ion-item [class.invalid]="isFieldInvalid('mandi_incharge_num')">
        <ion-label position="floating">Incharge Contact</ion-label>
        <ion-input type="tel" formControlName="mandi_incharge_num"></ion-input>
      </ion-item>
      <p class="error" *ngIf="isFieldInvalid('mandi_incharge_num')">Enter a valid contact number (max 15 digits).</p>

      <ion-item [class.invalid]="isFieldInvalid('mandi_pincode')">
        <ion-label position="floating">Mandi Pincode</ion-label>
        <ion-input type="text" formControlName="mandi_pincode"></ion-input>
      </ion-item>
      <p class="error" *ngIf="isFieldInvalid('mandi_pincode')">Enter a valid pincode (6 digits).</p>

      <ion-item [class.invalid]="isFieldInvalid('mandi_address')">
        <ion-label position="floating">Mandi Address</ion-label>
        <ion-textarea formControlName="mandi_address"></ion-textarea>
      </ion-item>
      <p class="error" *ngIf="isFieldInvalid('mandi_address')">Address is required.</p>

      <ion-item [class.invalid]="isFieldInvalid('mandi_city')">
        <ion-label position="floating">Mandi City</ion-label>
        <ion-input type="number" formControlName="mandi_city"></ion-input>
        <ion-button fill="solid" shape="round" color="dark" size="small" (click)="navigateToLocationForm()">
          <ion-icon slot="start" name="list-outline"></ion-icon>
          Select
        </ion-button>
      </ion-item>
      <p class="error" *ngIf="isFieldInvalid('mandi_city')">City ID is required.</p>

      <ion-item [class.invalid]="isFieldInvalid('mandi_state')">
        <ion-label position="floating">Mandi State</ion-label>
        <ion-input type="number" formControlName="mandi_state"></ion-input>
        <ion-button fill="solid" shape="round" color="dark" size="small" (click)="navigateToStateForm()">
          <ion-icon slot="start" name="list-outline"></ion-icon>
          Select
        </ion-button>
      </ion-item>
      <p class="error" *ngIf="isFieldInvalid('mandi_state')">State ID is required.</p>

      <ion-item [class.invalid]="isFieldInvalid('remarks')">
        <ion-label position="floating">Remarks</ion-label>
        <ion-textarea formControlName="remarks"></ion-textarea>
      </ion-item>
      <p class="error" *ngIf="isFieldInvalid('remarks')">Remarks are required.</p>
    </ion-list>

    <ion-button expand="full" type="submit" [disabled]="mandi.invalid">
      Submit
    </ion-button>
  </form>
</ion-content>