ion-toolbar{
  --background: rgb(136, 172, 140);
}

.custom-badge {
  --background: rgb(150, 235, 85);
  --color: white;  /* Text color inside the badge */
  // --font-weight: bold;
}

.loadMore {
  font-family: 'Georgia', 'Times', serif;
  --background: rgb(136, 172, 140);
  --color: white;
  --border-radius: 8px;  /* round the button corners */
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 100px;
}

ion-item {
  border: 1px solid #ccc;
  border-radius: 7px;
  padding: 5px;
  margin: 10px auto;
  max-width: 320px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* 3D Hover Effect */
ion-item:hover {
  transform: perspective(1000px) rotateX(10deg) rotateY(-10deg) scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h2{
  font-family: 'Arial, sans-serif';
  font-size: 18px;
  // font-weight: bold;
}

p {
  font-family: 'Georgia', 'Times', serif;
}

ion-button {
  // --border-color: rgb(95, 69, 186);
  --color: rgb(245, 240, 230);
}

.search-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
ion-searchbar {
  font-family: 'Arial, sans-serif';
  width: 345px;
 }

.fixed-button {
  position: fixed;
  bottom: 20px; /* Distance from the bottom */
  right: 20px; /* Distance from the right */
  z-index: 1000; /* Ensures it's above other content */
  transition: transform 0.3s ease-in-out;
}

.fixed-button:hover {
  transform: rotate(360deg);
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}